.reversed {
    transform: rotate(180deg);
}

.btn{
	margin-left: 25px;
}

.footer {
    position: absolute;
	bottom: 0;
    padding: 10px;
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 20px;
	border-top-style: solid;
	border-top-width: 1px;
}

.cardContainer{
	max-width: 160px;
	height: auto;
	padding: 2px
}

.cardSurface{
	position: relative;
	padding-left: 15px;
	float: left;
}

.lore{
	position: relative;
	padding-left: 30px;
	padding-right: 15px;
	width: 630px;
	height: 440px;
	font-family:Garamond, Georgia, serif;
	font-size: medium;
	resize: none;
	display: none;
	border: none;
}

.seerCard{

}

.clickies {
	position: relative;
	padding: 10px;
	margin-left: 10px;
}

.card {
	max-width: 100%;
	height: auto;
}

html, body {
    height:100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.cred {
	font-size: x-small;
} 

table, th, td {
	table-layout: fixed;
	height: 100px;
}
